<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>表单收集</title>
    <!-- 引入vue.js之后,页面中就会有Vue这个函数/对象 -->
    <script src="../js/vue.js"></script>
  </head>
  <body>
    <!-- 创建一个容器来搭载Vue实例 -->
    <div id="app">
      <h1>hello,{{name}}</h1>
      <form action="" @submit.prevent="demo">
        账号: <input type="text" v-model="userInfo.account" /> <br />
        密码: <input type="password" v-model="userInfo.password" /> <br />
        年龄: <input type="number" v-model.number="userInfo.age" /> <br />
        性别: 男<input
          type="radio"
          name="sex"
          v-model="userInfo.sex"
          value="nan"
        />
        女<input v-model="userInfo.sex" type="radio" name="sex" value="nv" />
        <br />
        爱好: 看书<input
          type="checkbox"
          v-model="userInfo.hobby"
          value="看书"
        />看电影<input
          type="checkbox"
          v-model="userInfo.hobby"
          value="看电影"
        />
        睡觉<input type="checkbox" v-model="userInfo.hobby" value="睡觉" />
        <br />
        个人介绍:
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          v-model.lazy="userInfo.text"
        ></textarea>
        <br />
        <input type="checkbox" v-model="userInfo.agree" /> 我已阅读<a
          href="http://baidu.com"
          target="_blank"
          rel="noopener noreferrer"
          >《条款》</a
        >
        <br />
        <button>提交</button>
      </form>
    </div>
    <script>
      Vue.config.productionTip = false // 阻止 vue 在启动时生成生产提示
      // Vue.config.devtools = false // 阻止 vue 在启动时生成devtools提示
      // 创建Vue实例
      new Vue({
        // 关联容器,让Vue实例与容器连接起来
        //另外一种写法,手动去寻找  el: document.getElementById('app'),
        el: '#app',
        data: {
          name: 'world',
          userInfo: {
            account: '',
            password: '',
            age: '',
            sex: '',
            hobby: [],
            text: '',
            agree: ''
          }
        },
        methods: {
          demo () {
            console.log('sds')
          }
        }
      })
    </script>
  </body>
</html>
